@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  scrollbar-width: thin;
    scrollbar-color: rgb(117, 13, 13) , white;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background-color: rgb(253, 254, 255);
 max-height: 100vh;
}
.heading_top{
  display: flex;
  justify-content: space-between;
}
.heading_top h3{
  font-family: 'Poppins', sans-serif;
  font-size: 30px !important;
  color: rgb(82, 79, 79);
}
@media(max-width:990px){
  .app{
    flex-direction: column;
  }
}
.left_part{
  flex: 0.9;
}
.right_part{
  text-align: center;
}
.right_part h4{
  text-align: center;
  margin: 20px 0;
}
.case_tiles{
 display: flex;
 flex: 1;
 justify-content: space-between;
}
.info_tiles{
  flex: 1;
}
