.infobox{
    flex: 1;
    margin-top: 1rem;
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
    border-radius: 15px !important;
}
.infobox:not(:last-child){
    margin-right: 10px;
}
.infobox_cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infobox_total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}
.infobox_title{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 1rem !important;
    margin-bottom: 5px !important;
}
.infobox--selected {
    border-top: 10px solid greenyellow;
    border-bottom: none;
  }
  
  .infobox--red {
    border-color: red;
  }
  .infobox--brown {
    border-color:brown;
  }
  
  .infobox_cases--green {
    color: lightgreen !important;
  }
  .infobox_cases--brown{
      color: rgb(228, 117, 117) !important;
  }
  