.table{
    height: 300px;
    overflow-y: scroll;
    margin-top: 10px;
    color: #6a5d5d;
    font-size: 12px;
}
.table tr{
    display: flex;
    justify-content: space-between;
    border: none;
}
.table td{
    padding: 0.5rem;
}
.table tr:nth-of-type(odd)
{
    background-color: #f3f2f8;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}